@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --googleBlue: #4285F4;
  --googleRed: #EA4335;
  --googleYellow: #FBBC05;
  --googleGreen: #34A853;
  --googleGray: #5F6368;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Montserrat, Raleway;
}

.text-googleBlue {
  color: var(--googleBlue);
}

.text-googleRed {
  color: var(--googleRed);
}

.text-googleYellow {
  color: var(--googleYellow);
}

.text-googleGreen {
  color: var(--googleGreen);
}

.text-googleGray {
  color: var(--googleGray);
}

.bg-googleBlue {
  background-color: var(--googleBlue);
}

.bg-googleRed {
  background-color: var(--googleRed);
}

.bg-googleYellow {
  background-color: var(--googleYellow);
}

.bg-googleGreen {
  background-color: var(--googleGreen);
}

.bg-googleGray {
  background-color: var(--googleGray);
}